/* stylelint-disable property-no-vendor-prefix */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 0px;
}

.masthead-brand > a {
  color: rgb(80, 80, 80);
  font-size: 5vh;
}

.masthead-brand > a:hover {
  text-decoration: none !important;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff; /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  position: relative;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 700;
}

/*
 * Footer
 */

.mastfoot,
.footer {
  color: #999; /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  margin-top: 50px;
  padding: 30px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle; /* Start the vertical centering */
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

.label {
  white-space: normal;
}

.software-icons {
  display: flex;
  flex-wrap: wrap;
}

.software-icon-item {
  width: 33%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.software-icon-name {
  margin-left: 10px;
  color: #999;
}

.resume {
  margin-top: 100px;
}

.resume > h3 {
  margin-top: 50px;
  color: #777;
}

.fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  opacity: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}

video.fullScreen {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.badge {
  margin-right: 3px;
  margin-bottom: 3px;
  background-color: #4d4d4d;
}

em {
  color: #999;
}

ul {
  list-style: none;
}

.portfolioItems {
  margin-top: 60px;
}

.portfolioItems > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolioItems > ul > li {
  margin: 3px;
  margin-bottom: 30px;
}

.portfolioItems > ul > li img {
  max-width: 180px;
}

.portfolioItem {
  text-align: left;
}

.portfolioItem img {
  max-width: 100%;
}

.portfolioItem th,
.portfolioItem td {
  padding: 10px 10px 10px 0;
}

.fullsize {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}

.pageTitle {
  margin: 30px 0;
}

/* Responsive video wrapper */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 20px;
}

.video-wrapper iframe,
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Mobile-first responsive styles */
@media (max-width: 767px) {
  /* Navigation improvements */
  .masthead-brand {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .masthead-nav {
    float: none;
    text-align: center;
  }

  .masthead-nav > li {
    display: inline-block;
    margin: 0 10px;
  }

  .masthead-nav > li + li {
    margin-left: 10px;
  }

  .masthead-nav > li > a {
    font-size: 14px;
    padding: 5px 0;
  }

  /* Typography scaling */
  .cover-heading {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .masthead-brand > a {
    font-size: 3rem;
  }

  /* Spacing adjustments */
  .inner {
    padding: 15px;
  }

  .cover {
    padding: 0 15px;
  }

  /* Footer positioning */
  .mastfoot,
  .footer {
    position: static;
    margin-top: 30px;
  }

  /* Resume page adjustments */
  .resume {
    margin-top: 60px;
  }

  .software-icon-item {
    width: 50%;
  }

  /* Portfolio adjustments */
  .portfolioItems > ul > li img {
    max-width: 150px;
  }

  /* Button sizing */
  .btn-lg {
    padding: 8px 16px;
    font-size: 16px;
  }
}

/* Reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
  .fade-in {
    animation: none;
    opacity: 1;
  }

  video.fullScreen {
    display: none;
  }
}

/* Extra small devices (phones in portrait, less than 576px) */
@media (max-width: 575px) {
  .masthead-brand > a {
    font-size: 2.5rem;
  }

  .cover-heading {
    font-size: 1.75rem;
  }

  .lead {
    font-size: 0.95rem;
  }

  .masthead-nav > li {
    margin: 0 5px;
  }

  .masthead-nav > li > a {
    font-size: 13px;
  }

  .software-icon-item {
    width: 100%;
    justify-content: flex-start;
  }

  .portfolioItems > ul {
    flex-direction: column;
    align-items: center;
  }

  .portfolioItems > ul > li {
    width: 100%;
    max-width: 300px;
  }

  .portfolioItems > ul > li img {
    max-width: 100%;
  }

  .badge {
    font-size: 12px;
    padding: 4px 8px;
  }

  .resume > h3 {
    font-size: 1.5rem;
  }

  img.img-circle {
    max-width: 150px;
  }
}

/* Landscape mobile devices */
@media (max-width: 767px) and (orientation: landscape) {
  .masthead-brand > a {
    font-size: 2rem;
  }

  .cover-heading {
    font-size: 1.5rem;
  }

  video.fullScreen {
    opacity: 0.15;
  }
}

/* Improve touch targets for mobile */
@media (hover: none) and (pointer: coarse) {
  .masthead-nav > li > a {
    padding: 10px 5px;
    min-height: 44px;
    display: flex;
    align-items: center;
  }

  .btn-lg {
    min-height: 44px;
    min-width: 44px;
  }

  a {
    min-height: 44px;
    display: inline-flex;
    align-items: center;
  }
}
