{
  "parser": "babel-eslint",
  "plugins": ["react", "import"],
  "rules": {
    "no-console": "warn",
    "react/display-name": 0,
    "react/prop-types": "off",
    "import/no-extraneous-dependencies": "error"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "jasmine": true,
    "es6": true
  }
}
